@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url(../../Content/images/hardware2.jpg);
        background-size: cover;
        background-position: center;
    }
</style>

<div class="bulb">
 <h4 class="coffee">What We Do</h4>
    <h4>
        Every day, we provide an intelligent, lucid, and authoritative filter for the overwhelming flood of information about technology.
        We do this with serious journalism, written in clear, simple language, by a knowledgeable editorial staff, governed by a policy of accuracy and independence.
        We do this in features, news analysis, business reports, photo essays, reviews, and interactive digital experiences that invite our readers to probe deeper, examine data, and get to know experts and their opinions to see, explore, and understand new technologies and their impact.
        We do this with beautifully designed platforms and publications online, in print, on mobile, and in person at live events around the world.
    </h4>

</div>



<p>You can trust our in-depth technology reviews to help you buy the best product for your needs. Read our reviews guarantee to find out why.</p>
